/* AutoComplete component */
.p-autocomplete {
    width: 100% !important;
}

.p-autocomplete-input {
    width: 100% !important;
}

.p-autocomplete-panel {
    min-width: 100% !important;
    max-width: 100% !important;
}